<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>My Twitter</title>

    <link rel="stylesheet" href="fontIcons/icomoon/style.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <style type="text/css">

    </style>


</head>
<body style="background-color: #f2eee8">
<div id="app">
    <aside class="personnel-info">

        <section class="personnel-info_about">
            <img class="personnel-info_about_photo" v-bind:src="personnelInfo.photo">
            <div class="personnel-info_about_name">{{personnelInfo.name}}</div>
            <p class="_personnel-info_about_intro">{{personnelInfo.intro}}</p>
            <a href="" class="person-link" target="_blank"><span class="fa-chain"></span>{{personnelInfo.link}}</a>
            <a href="#" class="follow">Follow</a>
        </section>
        <ul class="personnel-info_visitors">
            <li v-for="visitor in visitors">
                <a v-bind:href="visitor.link">
                    <img v-bind:src="visitor.photo">
                </a>
            </li>

        </ul>
        <section class="personnel-info_activities">
            <h2>activities</h2>
            <ul class="act-list">
                <li v-for="act in recentActivites" class="act-follower">
                    <span v-bind:class="act.class"></span>{{act.type}}<a v-bind:href="act.href">{{act.target}}</a></li>
            </ul>
        </section>
    </aside>
    <div class="main">

        <ul class="main_summary">
            <li v-for="summaryKey in Object.keys(summary)">
                <label class="main_summary_item-label">
                    <input name="summary" type="radio">
                    <span class="main_summary_item-name">{{summaryKey}}</span>
                    <span class="main_summary_item-count">{{summary[summaryKey]}}</span>
                </label>

            </li>
        </ul>
        <ul class="main_content_item-list" style="background-color: white">
            <li>
                <img src="resources/p0.jpg" class="main_content_item-img">
                <div class="main_content_item-wrapper" data-refresh-limit="20">
                    <span class="fa-refresh main_content_item_refres-mark"></span>
                    <em class="main_content_item_name">Gerry Zhi</em>
                    <span class="main_content_item_sitename">heren.com</span>
                    <div class="main_content_item_content">Lorem ipsum dolor
                        amet,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </div>
                    <ul class="main_content_item_operations">
                        <li>
                            <a href="" class="main_content_item_operations-item fa-redo"></a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-star"></a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-refresh">
                                <span class="main_content_item_operations-item-refresh-limit">20</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-more-horiz"></a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <img src="resources/p0.jpg" class="main_content_item-img">

                <div class="main_content_item-wrapper">
                    <span class="fa-refresh main_content_item_refres-mark"></span>
                    <em class="main_content_item_name">Gerry Zhi</em>
                    <span class="main_content_item_sitename">heren.com</span>
                    <div class="main_content_item_content">Lorem ipsum dolor
                        amet,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </div>
                    <ul class="main_content_item_operations">
                        <li>
                            <a href="" class="main_content_item_operations-item fa-redo"></a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-star"></a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-refresh">
                                <span class="main_content_item_operations-item-refresh-limit">20</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-more-horiz"></a>
                        </li>
                    </ul>
                </div>
            </li>


            <li>
                <img src="resources/p0.jpg" class="main_content_item-img">

                <div class="main_content_item-wrapper">
                    <span class="fa-refresh main_content_item_refres-mark"></span>
                    <em class="main_content_item_name">Gerry Zhi</em>
                    <span class="main_content_item_sitename">heren.com</span>
                    <div class="main_content_item_content">
                        <video width="100%" crossorigin="anonymous"
                               src="https://images.apple.com/media/us/iphone-7/2017/e1d65fb1_eb51_43ca_a7df_87df984a2655/tv-spots/raconteur/iphone7-raconteur-cc-us-20170217_1280x720h.mp4"></video>
                    </div>
                    <ul class="main_content_item_operations">
                        <li>
                            <a href="" class="main_content_item_operations-item fa-redo"></a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-star"></a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-refresh">
                                <span class="main_content_item_operations-item-refresh-limit">20</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-more-horiz"></a>
                        </li>
                    </ul>
                </div>
            </li>


            <li>
                <img src="resources/p0.jpg" class="main_content_item-img">

                <div class="main_content_item-wrapper">
                    <span class="fa-refresh main_content_item_refres-mark"></span>
                    <em class="main_content_item_name">Gerry Zhi</em>
                    <span class="main_content_item_sitename">heren.com</span>
                    <div class="main_content_item_content">Lorem ipsum dolor
                        amet,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </div>
                    <ul class="main_content_item_operations">
                        <li>
                            <a href="" class="main_content_item_operations-item fa-redo"></a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-star"></a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-refresh">
                                <span class="main_content_item_operations-item-refresh-limit">20</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="main_content_item_operations-item fa-more-horiz"></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <aside class="hot-column">

        <section class="hot-column_trends_section">
            <h2>Philppines Trends</h2>
            <ol class="hot-column_trends_list">
                <li v-for="newsitem in news">
                    <a v-bind:href="newsitem.href">{{newsitem.title}}</a>
                </li>
            </ol>

        </section>

        <section class="hot-column_recommended_section">
            <h2>who to follow<a href="">more</a></h2>


            <ul class="hot-column_recommended">
                <li v-for="recommendedItem in recommended">
                    <img v-bind:src="recommendedItem.photo">
                    <div class="hot-column_recommended_wrapper">
                        <em class="hot-column_recommended_wrapper_name">{{recommendedItem.name}}</em>
                        <div class="hot-column_recommended_wrapper_roles">{{recommendedItem.brief}}</div>
                    </div>
                    <a>
                        <span class="fa-plus"></span>
                    </a>

                </li>


            </ul>
        </section>
    </aside>
    <header class="menu-top">

        <div class="menu-top_left-list">
            <a class="menu-top_start fa-quill" href=""></a>
            <ul class="menu-top_quick-access">
                <li>
                    <a class="fa-notifications" href=""></a>
                </li>
                <li>
                    <a class="fa-mail" href=""></a>
                </li>
                <li>
                    <a href="">#</a>
                </li>
            </ul>
        </div>

        <a href="" class="menu-top_home-page fa-twitter"></a>
        <div class="menu-top_right-list">
            <div class="menu-top_right-list_search-wrapper">
                <input class="menu-top_right-list_search" type="search" placeholder="search">
                <span class="fa-search"></span>
            </div>
            <a href="" class="menu-top_my-profile">
                <img src="resources/p0.jpg">
            </a>
        </div>
    </header>
</div>


<footer>

</footer>
</body>

<script language="JavaScript">

    var data = {
        personnelInfo: {
            photo: "resources/p0.jpg",
            name: "Gerry Zhi",
            intro: "Thoughtworker, Developer,xxxxxxxxxxxxxxxxxxx",
            link: "www.keern.co",
        },
        visitors: [],
        recentActivites: [
            {type: "follow", class: "fa-plus", target: "Eddie", href: "#"},
            {type: "reply to", class: "fa-redo", target: "Alexander", href: "#"},
            {type: "reply to", class: "fa-refresh", target: "Eric Twitte", href: "#"},
            {type: "reply to", class: "fa-refresh", target: "Eric Twitte", href: "#"},
            {type: "favorited", class: "fa-star", target: "John Twitte", href: "#"},
        ],
        posts: [],
        news: [
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
            {href: "#", title: "#Lorem ipsum dolor sit amet"},
        ],
        recommended: [
            {name: "Gerry Zhi", brief: "Developer,Thoughtworker", photo: "resources/p1.jpg",},
            {name: "Wei Jia", brief: "Developer,Thoughtworker", photo: "resources/p2.jpg",},
            {name: "Z.K. Wang", brief: "Developer,Thoughtworker", photo: "resources/p3.jpg",},
            {name: "Yuan LIU", brief: "Developer,Thoughtworker", photo: "resources/p4.jpg",},
            {name: "Lei Dong", brief: "Developer,Thoughtworker", photo: "resources/p5.jpg",}
        ],
        summary: {
            follower: 200,
            "post": 200,
            following: 200,
            "photos/audios": 200,
        },
    };
    for (var i = 0; i < 9; i++) {
        var personId = Math.floor(Math.random() * 10)
        data.visitors.push({photo: "resources/p" + personId + ".jpg", link: "#"});
    }
    var app = new Vue({
        el: '#app',
        data: data,
    });


</script>
</html>


