@import "compass/reset";
@import "compass/css3";

header {
	height:50px;
	background-color: #fff;

}

.content {
	position: absolute;
	top:50px;
	bottom:0;
	left:0;
	right:0;
	background-color: #f3f3f3;
	.main {
		margin:0 340px;
		background-color: #fff;
	}
	.left,.right {
		width:300px;
		position: absolute;
		top:0;
		bottom:0;
	}
	.left {
		left:0;
		background-color: #369;
	}
	.right {
		right:0;
		background-color: #fff;
	}
}